@font-face {
			font-family: GraublauWeb;
			src: url("ProximaNova-Regular.otf") format("opentype");
		}

		@font-face {
			font-family: GraublauWeb;
			font-weight: bold;
			src: url("ProximaNova-Regular.otf") format("opentype");
		}


		body{
				margin: 0;
				padding: 0;
			font-family: GraublauWeb;
		}

	
		#control_pannel{
			background: #3e3e3e;
			right: 0;
			top: 0;
			width: 400px;
			height: 100%;
			position: absolute;
			border: 2px #606060 solid;
		}
		
		#control_pannel table{
			font-size: 12px;
			color: #9f9f9f;
			margin: 20px;
		}
		
		#control_pannel .title{
			background: #2f2f2f;
			color: #9f9f9f;
			font-weight: bold;
			padding: 8px;
			font-size: 12px;
			
		}
		
		input{
			background: #d8d8d8;
			border: 0;
			padding: 4px;
			font-size: 10px;
			width: 50px;
		}
html, body{width: 100%; height: 100%; overflow: hidden;}
		

		.row{
			width: 100%;
			float:left;
		}
		.row .label{
			width: 80px;
			padding: 4px;
			float:left;
		}
		.row .content{
			padding: 4px;
			float:left;
		}
		.single_input{
			margin: 4px;
			width: 36px;
		}
		.thumbnail{
			margin: 20px;
			width: 90px;
		}
		.row:hover{
		background: #343232;
		}
		.jqx-rc-tl-dark{-moz-border-radius-topleft:0;-webkit-border-top-left-radius:0;border-top-left-radius:0}.jqx-rc-tr-dark{-moz-border-radius-topright:0;-webkit-border-top-right-radius:0;border-top-right-radius:0}.jqx-rc-bl-dark{-moz-border-radius-bottomleft:0;-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0}.jqx-rc-br-dark{-moz-border-radius-bottomright:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0}.jqx-rc-t-dark{-moz-border-radius-topleft:0;-webkit-border-top-left-radius:0;border-top-left-radius:0;-moz-border-radius-topright:0;-webkit-border-top-right-radius:0;border-top-right-radius:0}.jqx-rc-b-dark{-moz-border-radius-bottomleft:0;-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0;-moz-border-radius-bottomright:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0}.jqx-rc-r-dark{-moz-border-radius-topright:0;-webkit-border-top-right-radius:0;border-top-right-radius:0;-moz-border-radius-bottomright:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0}.jqx-rc-l-dark{-moz-border-radius-topleft:0;-webkit-border-top-left-radius:0;border-top-left-radius:0;-moz-border-radius-bottomleft:0;-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0}.jqx-rc-all-dark{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}.jqx-widget-dark{font-size:12px;line-height:17px;font-family:'segoe ui',arial,sans-serif;color:inherit}.jqx-widget-content-dark{font-size:12px;line-height:17px;font-family:'segoe ui',arial,sans-serif;border-color:#35353a;color:#fff;background-color:#252526}.jqx-widget-header-dark{font-size:12px;line-height:17px;font-family:'segoe ui',arial,sans-serif;color:#fff;border-color:#35353a;background-color:#3e3e42}.jqx-fill-state-normal-dark{font-size:12px;line-height:17px;font-family:'segoe ui',arial,sans-serif;border-color:#35353a;color:#fff;background:#3e3e42}.jqx-fill-state-hover-dark{font-size:12px;line-height:17px;font-family:'segoe ui',arial,sans-serif;border-color:#1c97ea;color:#fff;background-color:#1c97ea}.jqx-fill-state-focus-dark{border-color:#000}.jqx-fill-state-pressed-dark{border-color:#007acc;color:#fff;background-color:#007acc}.jqx-fill-state-disabled-dark{color:#898989}.jqx-input-dark{border-color:#35353a}.jqx-scrollbar-state-normal-dark,.jqx-grid-bottomright-dark,.jqx-panel-bottomright-dark,.jqx-listbox-bottomright-dark{background-color:#3e3e42}.jqx-widget-dark .jqx-grid-column-header-dark,.jqx-grid-cell-dark,.jqx-widget-dark .jqx-grid-cell-dark,.jqx-widget-dark .jqx-grid-group-cell-dark,.jqx-grid-group-cell-dark{font-size:12px;line-height:17px;font-family:'segoe ui',arial,sans-serif;border-color:#1c1c1e;background-color:#2a2a2c;color:#fff}.jqx-tabs-title-selected-bottom-dark,.jqx-tabs-selection-tracker-bottom-dark,.jqx-tabs-title-selected-top-dark,.jqx-tabs-selection-tracker-top-dark{color:#fff;border-color:#35353a;border-bottom:1px solid #252526;background:#007acc}.jqx-widget-dark .jqx-grid-cell-alt-dark,.jqx-widget-dark .jqx-grid-cell-sort-dark,.jqx-widget-dark .jqx-grid-cell-pinned-dark,.jqx-widget-dark .jqx-grid-cell-filter-dark,.jqx-grid-cell-sort-alt-dark,.jqx-grid-cell-filter-alt-dark,.jqx-grid-cell-pinned-dark,.jqx-grid-cell-alt-dark,.jqx-grid-cell-sort-dark{background-color:#3e3e42;color:#fff}.jqx-menu-vertical-dark{background:#3e3e42;border-color:#3e3e42}.jqx-widget-dark .jqx-grid-cell-dark,.jqx-widget-dark .jqx-grid-column-header-dark,.jqx-widget-dark .jqx-grid-group-cell-dark{border-color:#35353a}.jqx-widget-dark .jqx-grid-column-menubutton-dark,.jqx-widget-dark .jqx-grid-column-sortascbutton-dark,.jqx-widget-dark .jqx-grid-column-sortdescbutton-dark,.jqx-widget-dark .jqx-grid-column-filterbutton-dark{background-color:transparent;border-color:#35353a}.jqx-window-header-dark,.jqx-input-button-header-dark,.jqx-calendar-title-header-dark,.jqx-grid-dark .jqx-widget-header-dark,.jqx-grid-header-dark,.jqx-grid-column-header-dark{font-size:12px;line-height:17px;font-family:'segoe ui',arial,sans-serif;border-color:#35353a;color:#fff;background:#3e3e42}.jqx-grid-column-menubutton-dark{background-image:url('images/metro-icon-down-white.png')}.jqx-calendar-cell-today-dark{color:#35353a}.jqx-widget-dark .jqx-grid-cell-selected-dark,.jqx-grid-cell-selected-dark{background-color:#007acc;border-color:#007acc;font-size:12px;color:#fff}.jqx-widget-dark .jqx-grid-cell-hover-dark,.jqx-grid-cell-hover-dark{background-color:#1c97ea;border-color:#1c97ea}
    
		.jqx-fill-state-pressed-dark{
			background: black !important;
			font-weight: bold;
		}